
.body {
    background-color: whitesmoke;
}
.wrapper {
  overflow: hidden;
  margin: 10px;
}

h1.heading {
  color: #ffff;
  font-size: 2.19em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

p.subheading {
  font-size: 1.05em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #595050;
  display: flex;
}

pre {
  display: block;
  font-family: inherit;
  white-space: pre;
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  color: #998A8A;
}

.divboxoutside {
  float: left;
  position:  relative;
  width: 23%;
  padding-bottom: 2%;
  overflow: hidden;
  border: 1px solid WhiteSmoke;
  font-family: 'Open Sans', sans-serif;
  margin-left: inherit;
}
.divboxinside {
  position: relative;
  display: inline-block;
  height: 80%;
  width: 80%;
  padding: 10%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  align-items: center;
}
 /*.divboxinside p {
  position: absolute;
  width: 100%;
  bottom: 2%;
  left: 0;
  padding: 5%;
}*/
.undercaptionimg {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1%;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.12em;
  align-items: center;
  margin-left: 10px;
}

.rs {
  width: auto;
  height: auto;
  max-height: 90%;
  max-width: 100%;
}
h5.texto{
  color: #ffff;
  font-size: 0.8em;
  font-weight: 900;
  margin: 0 0 0.8em;
  color: #635B5B;
  display: flex;
  align-items: center;
  justify-content: center
}


@media only screen and (max-width : 650px) and (min-width : 481px){
  /*table*/
  .divboxoutside {
    width: 50%;
    padding-bottom: 50%;
    border: 1px solid WhiteSmoke;
  }
}

@media only screen and (max-width : 480px){
  /*small device like smartphone*/
  .divboxoutside {
    width: 100%;
    padding-bottom: 100%;
    border: 1px solid WhiteSmoke;
  }
}

@media only screen and (max-width : 1290px) and (min-width : 1051px){
  /* desktop*/
  .divboxoutside {
    width: 25%;
    padding-bottom: 25%;
    border: 1px solid WhiteSmoke;
  }

}
